# Airbnb project

## Import relevant packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

np.random.seed(seed=42)

## Data gathering

In [21]:
df_listings = pd.read_csv('data/listings.csv.gz')

C:\Users\yu298\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (43,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Data Assessing

In [7]:
df_listings.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_listings_count,host_total_listings_count,latitude,longitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,jurisdiction_names,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,2.467800e+04,2.467800e+04,0.0,0.0,0.0,2.467800e+04,24657.000000,24657.000000,24678.000000,24678.000000,...,19597.000000,19616.000000,19598.000000,19595.000000,0.0,24678.000000,24678.000000,24678.000000,24678.000000,20142.000000
mean,2.199784e+07,2.020051e+13,NaN,NaN,NaN,7.825784e+07,3.995742,3.995742,52.510111,13.405853,...,9.729193,9.740110,9.590621,9.404338,NaN,2.511468,1.560135,0.710755,0.149242,0.850179
std,1.262602e+07,9.785355e+00,NaN,NaN,NaN,8.865735e+07,39.389371,39.389371,0.031683,0.059890,...,0.706451,0.703332,0.744511,0.868025,NaN,5.652053,4.964747,1.157237,2.153822,1.274689
min,2.015000e+03,2.020051e+13,NaN,NaN,NaN,1.581000e+03,0.000000,0.000000,52.340480,13.085630,...,2.000000,2.000000,2.000000,2.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.122274e+07,2.020051e+13,NaN,NaN,NaN,1.110704e+07,1.000000,1.000000,52.489103,13.373275,...,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.120000
50%,2.144830e+07,2.020051e+13,NaN,NaN,NaN,4.000968e+07,1.000000,1.000000,52.509740,13.416100,...,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.370000
75%,3.296801e+07,2.020051e+13,NaN,NaN,NaN,1.189637e+08,2.000000,2.000000,52.533117,13.439598,...,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,1.000000,1.000000,0.000000,1.010000
max,4.343876e+07,2.020051e+13,NaN,NaN,NaN,3.461676e+08,1343.000000,1343.000000,52.656630,13.758420,...,10.000000,10.000000,10.000000,10.000000,NaN,58.000000,58.000000,14.000000,43.000000,31.290000

In [4]:
df_listings.columns.to_list()

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [17]:
df_calender = pd.read_csv('data/calendar.csv.gz')
df_calender.head(5)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,520538,2020-05-15,f,$120.00,$120.00,2.0,14.0
1,626620,2020-05-15,f,$60.00,$60.00,2.0,30.0
2,626620,2020-05-16,f,$60.00,$60.00,2.0,30.0
3,626620,2020-05-17,f,$60.00,$60.00,2.0,30.0
4,626620,2020-05-18,f,$60.00,$60.00,2.0,30.0

In [20]:
df_calender.date.max()

'2021-05-15'

## Data Cleaning

## Data analysis

## Data Modeling

## Data Visualisation