# Airbnb project
## neighbourhood analysis
How does neighbourhood affect the price and ratings?

## Import relevant pacakges

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline

## Data gathering

In [15]:
df_listings = pd.read_csv('data/listings.csv.gz')

C:\Users\yu298\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (43,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Data assessing

In [16]:
df_listings.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24678 entries, 0 to 24677
Data columns (total 106 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            24678 non-null  int64
 1   listing_url                                   24678 non-null  object
 2   scrape_id                                     24678 non-null  int64
 3   last_scraped                                  24678 non-null  object
 4   name                                          24628 non-null  object
 5   summary                                       23447 non-null  object
 6   space                                         15953 non-null  object
 7   description                                   24160 non-null  object
 8   experiences_offered                           24678 non-null  object
 9   neighborhood_overview                         13851 non-null  object
 10  notes                                         7720 non-null   object
 11  transit                                       15071 non-null  object
 12  access                                        10852 non-null  object
 13  interaction                                   12246 non-null  object
 14  house_rules                                   12200 non-null  object
 15  thumbnail_url                                 0 non-null      float64
 16  medium_url                                    0 non-null      float64
 17  picture_url                                   24678 non-null  object
 18  xl_picture_url                                0 non-null      float64
 19  host_id                                       24678 non-null  int64
 20  host_url                                      24678 non-null  object
 21  host_name                                     24657 non-null  object
 22  host_since                                    24657 non-null  object
 23  host_location                                 24582 non-null  object
 24  host_about                                    12232 non-null  object
 25  host_response_time                            10737 non-null  object
 26  host_response_rate                            10737 non-null  object
 27  host_acceptance_rate                          15815 non-null  object
 28  host_is_superhost                             24657 non-null  object
 29  host_thumbnail_url                            24657 non-null  object
 30  host_picture_url                              24657 non-null  object
 31  host_neighbourhood                            18758 non-null  object
 32  host_listings_count                           24657 non-null  float64
 33  host_total_listings_count                     24657 non-null  float64
 34  host_verifications                            24678 non-null  object
 35  host_has_profile_pic                          24657 non-null  object
 36  host_identity_verified                        24657 non-null  object
 37  street                                        24678 non-null  object
 38  neighbourhood                                 24678 non-null  object
 39  neighbourhood_cleansed                        24678 non-null  object
 40  neighbourhood_group_cleansed                  24678 non-null  object
 41  city                                          24670 non-null  object
 42  state                                         24536 non-null  object
 43  zipcode                                       24178 non-null  object
 44  market                                        24622 non-null  object
 45  smart_location                                24678 non-null  object
 46  country_code                                  24678 non-null  object
 47  country                                       24678 non-null  object
 48  latitude                                      24678 non-null  float64
 49  longitude                                     24678 non-null  float64
 50  is_location_exact                             24678 non-null  object
 51  property_type                                 24678 non-null  object
 52  room_type                                     24678 non-null  object
 53  accommodates                                  24678 non-null  int64
 54  bathrooms                                     24657 non-null  float64
 55  bedrooms                                      24632 non-null  float64
 56  beds                                          24466 non-null  float64
 57  bed_type                                      24676 non-null  object
 58  amenities                                     24678 non-null  object
 59  square_feet                                   391 non-null    float64
 60  price                                         24678 non-null  object
 61  weekly_price                                  2950 non-null   object
 62  monthly_price                                 2106 non-null   object
 63  security_deposit                              15070 non-null  object
 64  cleaning_fee                                  17264 non-null  object
 65  guests_included                               24678 non-null  int64
 66  extra_people                                  24678 non-null  object
 67  minimum_nights                                24678 non-null  int64
 68  maximum_nights                                24678 non-null  int64
 69  minimum_minimum_nights                        24678 non-null  int64
 70  maximum_minimum_nights                        24678 non-null  int64
 71  minimum_maximum_nights                        24678 non-null  int64
 72  maximum_maximum_nights                        24678 non-null  int64
 73  minimum_nights_avg_ntm                        24678 non-null  float64
 74  maximum_nights_avg_ntm                        24678 non-null  float64
 75  calendar_updated                              24678 non-null  object
 76  has_availability                              24678 non-null  object
 77  availability_30                               24678 non-null  int64
 78  availability_60                               24678 non-null  int64
 79  availability_90                               24678 non-null  int64
 80  availability_365                              24678 non-null  int64
 81  calendar_last_scraped                         24678 non-null  object
 82  number_of_reviews                             24678 non-null  int64
 83  number_of_reviews_ltm                         24678 non-null  int64
 84  first_review                                  20142 non-null  object
 85  last_review                                   20142 non-null  object
 86  review_scores_rating                          19645 non-null  float64
 87  review_scores_accuracy                        19618 non-null  float64
 88  review_scores_cleanliness                     19621 non-null  float64
 89  review_scores_checkin                         19597 non-null  float64
 90  review_scores_communication                   19616 non-null  float64
 91  review_scores_location                        19598 non-null  float64
 92  review_scores_value                           19595 non-null  float64
 93  requires_license                              24678 non-null  object
 94  license                                       2627 non-null   object
 95  jurisdiction_names                            0 non-null      float64
 96  instant_bookable                              24678 non-null  object
 97  is_business_travel_ready                      24678 non-null  object
 98  cancellation_policy                           24678 non-null  object
 99  require_guest_profile_picture                 24678 non-null  object
 100 require_guest_phone_verification              24678 non-null  object
 101 calculated_host_listings_count                24678 non-null  int64
 102 calculated_host_listings_count_entire_homes   24678 non-null  int64
 103 calculated_host_listings_count_private_rooms  24678 non-null  int64
 104 calculated_host_listings_count_shared_rooms   24678 non-null  int64
 105 reviews_per_month                             20142 non-null  float64
dtypes: float64(22), int64(21), object(63)
memory usage: 20.0+ MB

Extract columns of interest, namely
- id
- neighbourhood_group_cleansed
- price
- review_scores_rating

In [17]:
df_neibourhood = df_listings[['id', 'neighbourhood_group_cleansed', 'price', 'review_scores_rating']]
df_neibourhood

             id neighbourhood_group_cleansed    price  review_scores_rating
0          2015                        Mitte   $60.00                  93.0
1          3176                       Pankow   $90.00                  93.0
2          3309       Tempelhof - Schöneberg   $28.00                  89.0
3          7071                       Pankow   $33.00                  97.0
4          9991                       Pankow  $180.00                 100.0
...         ...                          ...      ...                   ...
24673  43422635     Friedrichshain-Kreuzberg   $65.00                   NaN
24674  43430815                      Spandau   $35.00                   NaN
24675  43432267           Treptow - Köpenick   $40.00                   NaN
24676  43436282           Treptow - Köpenick   $46.00                   NaN
24677  43438755                        Mitte   $76.00                   NaN

[24678 rows x 4 columns]

In [18]:
df_neibourhood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24678 entries, 0 to 24677
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            24678 non-null  int64
 1   neighbourhood_group_cleansed  24678 non-null  object
 2   price                         24678 non-null  object
 3   review_scores_rating          19645 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 771.3+ KB

Few quality issues with data
- price has non-numeric data type
- about 5000 data missing from review scores

In [19]:
# convert price column.  Remove ',' and '$' sign, then change datatype.
def price_conversion(df,col):
    df.loc[:,col] = df.loc[:,col].str.replace(',','')
    df.loc[:,col] = pd.to_numeric(df.loc[:,col].str.replace('$', ''))

In [20]:
price_conversion(df_neibourhood, 'price')

C:\Users\yu298\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [21]:
df_neibourhood.describe()

                 id         price  review_scores_rating
count  2.467800e+04  24678.000000          19645.000000
mean   2.199784e+07     75.109409             94.583049
std    1.262602e+07    239.989351              7.876218
min    2.015000e+03      0.000000             20.000000
25%    1.122274e+07     35.000000             92.000000
50%    2.144830e+07     50.000000             97.000000
75%    3.296801e+07     79.000000            100.000000
max    4.343876e+07   9000.000000            100.000000

In order to deal with the missing values, lets first see if any particular region has higher/lower percentage of missing review.